<aside class="col-md-3">
    <ul class="list-group">
        <a class="list-group-item" href="{% url 'dashboard' %}">
            <strong>Dashboard</strong>
        </a>
        <a class="list-group-item" href="{% url 'my_orders' %}">
            <strong>My Orders</strong>
        </a>
        <a class="list-group-item" href="{% url 'edit_profile' %}">
            <strong>Edit Profile</strong></a
        >
        <a class="list-group-item" href=""> <strong>Change Password</strong></a>
    </ul>
    <br />
    <a class="btn btn-light btn-block" href="{% url 'logout' %}">
        <i class="fa fa-power-off"></i> <span class="text">Log out</span>
    </a>
</aside>
